services:

# Serviço Traefik
  traefik:
    image: traefik:v3.6.4
    command:
      - "--configFile=/etc/traefik/traefik.yaml"
    ports:
      - "80:80"
      - "443:443"
      - "8080:8080" # Porta do dashboard do Traefik
    volumes:
      - ./traefik/traefik.yaml:/etc/traefik/traefik.yaml
      - ./traefik/dynamic:/etc/traefik/dynamic
      - ./traefik/acme.json:/acme.json
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - lykos-net

  # Serviço MinIO
  minio:
    image: minio/minio
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin123
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio-data:/data
    networks:
      - lykos-net

  # Serviço PostgreSQL
  postgres:
    image: postgres:16
    environment:
      POSTGRES_DB: lykos
      POSTGRES_USER: lykos
      POSTGRES_PASSWORD: secret
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - lykos-net


  # Serviço auth_service
  auth-service:
    build: ./services/auth-service
    environment:
      - DATABASE_URL=postgres://lykos:secret@postgres:5432/auth_db
      - SECRET_KEY=supersecretkey123
      - JWT_SECRET=supersecretkey123
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.auth.rule=PathPrefix(`/api/auth`)"
      - "traefik.http.routers.auth.entrypoints=web"
      - "traefik.http.services.auth.loadbalancer.server.port=8000"
    depends_on:
      - postgres
    networks:
      - lykos-net

volumes:
  postgres-data:
  minio-data:

networks:
  lykos-net:
    driver: bridge