entryPoints:
  web:
    address: ":80"

  websecure:
    address: ":443"

providers:
  docker:
    exposedByDefault: false


api:
  dashboard: true
  insecure: true # Nota: vamos deixar isso ativado apenas para ambiente de desenvolvimento. Na prod isso deve ser desativado por questões de segurança.


certificatesResolvers:
  myresolver:
    acme:
      email: seu_email@email.com
      storage: acme.json
      httpChallenge:
        entryPoint: web